.App {
  justify-content: center;
  background-color: white;
  font-family: Calibri;
}

html {
  overflow-y: scroll;
}

/********************************** ANDREA *************************************/

/*
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  align-items: center;
}

.userinfo {
  margin-left: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ddd;
}

.rating {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.username {
  font-size: 36px;
  margin-right: 10px;
}

.location {
  font-size: 18px;
  font-weight: bold;
}

.create-listing {
  font-size: 24px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.gallery {
  display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.item {
  width: 20%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: grey;
  box-shadow: 0 0 5px #ddd;
}

.item img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-price {
  font-size: 16px;
  font-weight: bold;
}
*/

/********************************** RACHEL *************************************/

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body { 
    background-color: white; 
}

h1 {
  color: #5EC2B7;
  text-align: center;
  font-family: calibri;
  font-size: 50px;
}

h2 {
  color: black;
  text-align: center;
  font-family: Arial Rounded MT Bold;
  font-size: 35px;
  margin-bottom: 10px;
}

h3 {
  color: white;
  text-align: center;
  font-family: Arial Rounded MT Bold;
  font-size: 20px;
  margin: 8px;
}

p {
  color: black;
  font-family: calibri;
  font-size: 14px;
  text-align: left;
  margin: 0px;
}

a {
  color: #2CA6A4;
  margin: 5px;
  font-family: calibri;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  border: 5px solid #DAF0ED; 
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Inputs */

form {
  margin: 0px;
  display: contents;
}

input[type=text],
input[type=password],
input[type=email],
input[type=submit],
button {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  margin: 8px;
  border: none;
  border-radius: 10px;
}

input[type=text],
input[type=password],
input[type=email] {
  display: inline-block;
  box-sizing: border-box;
}

input[type=submit],
button {
  background-color: #5EC2B7;
  color: white;
  cursor: pointer;
}
  
button:hover {
  background-color: #2CA6A4;
}

/* Login / Register */

.two-colored-box {
  margin: auto;
  width: 750px;
  height: 500px;
  background: linear-gradient(to right, #5EC2B7 50%, #DAF0ED 50%);
  border-radius: 20px;
  display: flex;
  align-items: stretch;
}

.two-colored-box .left-column,
.two-colored-box .right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
}

.two-colored-box .left-column {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.two-colored-box .right-column {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Navbar */

.navbar {
  border-radius: 15px;
  background-color: #DAF0ED;
  margin: auto;
  margin-bottom: 20px;
  width: 750px;
  height: auto;
  display: flex;
  align-items: stretch;
}

.navbar button {
  float: left;
  width: 80px;
  margin-right: 0px;
}

.search {
  width: 400px;
  margin-left: auto;
  display: flex;
  margin-right: 8px;
  align-self: right;
}

.search input[type=text],
.search button {
  margin-left: 0px;
  margin-right: 0px;
}

.search input[type=text] {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar .search button{
  width: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Market */

.market-item {
  position: relative;
  background-color: #e4f4f2;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
  width: 750px;
  height: auto;
  display: flex;
}

.market-item button {
  margin: 0px;
  margin-top: 10px;
  margin-left: auto;
  width: 75px;
  height: 30px;
  padding: 0px;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.market-item img {
  height: 155px;
  object-fit: cover;
  border: none;
  margin: 0px;
}

.market-item .left-column,
.market-item .right-column {
  margin: 25px;
}

.market-item .left-column {
  display: flex;
  justify-content: center;
  width: 22%;
}

.market-item .right-column {
  display: flex;
  flex-direction: column;
  width: 78%;
  margin-left: 0px;
}

.market-item .row {
  margin-bottom: 5px;
  padding-bottom: 3px;
  width: auto;
  height: auto;
  display: flex;
}

/* Profile */

.profile{
  background-color: #e4f4f2;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
  width: 710px;
  height: auto;
}

.profile-pic {
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid #5ec2b7;
  background-color: #5ec2b7;
  margin-bottom: 0px;
}

.profile button {
  margin: 0px;
  margin-left: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  width: auto;
  height: auto;
}

.profile .section {
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.profile .left-column {
  width: 10%;
  margin-right: 35px;
  margin-bottom: 0px;
}

.profile .right-column {
  width: 80%;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.profile .row {
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.gallery {
  margin-bottom: 25px;
  border-radius: 20px;
  padding: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 126px 126px 126px 126px 126px;
  grid-gap: 20px;
  grid-auto-flow: row;
}

/* Profile Item */

.item {
  background-color: #5ec2b7;
  border-radius: 20px;
  font-size: 30px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  margin: 15px;
  height: 96px;
  width: 96px;
  border: none;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item p {
  width: 96px;
  color: white;
  text-align: center;
  word-break: break-word;
}
