.App {
  text-align: center;
  background-color: white;
  font-family: Calibri;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  align-items: center;
}

.userinfo {
  margin-left: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ddd;
}

.rating {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.username {
  font-size: 36px;
  margin-right: 10px;
}

.location {
  font-size: 18px;
  font-weight: bold;
}

.tab-button {
  font-size: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  margin-right: 20px;
  cursor: pointer;
}

.tab-button.active {
  border-bottom-color: #4CAF50;
}

.create-listing {
  font-size: 24px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.gallery {
  display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.item {
  width: 20%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px #ddd;
}

.item img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-price {
  font-size: 16px;
  font-weight: bold;
}

/*******************************/
/* Login + Registration styles */

h1 {
  color: #5EC2B7;
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-family: Arial Rounded MT Bold;
  font-size: 35px;
  margin: 8px;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  font-family: Arial Rounded MT Bold;
  font-size: 20px;
  margin: 8px;
  color: white;
}

p {
  font-size: 14px;
  margin: 5px;
}

a {
  color: #5EC2B7;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  border: 5px solid #DAF0ED;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* two-toned box */

.two-colored-box {
  margin: auto;
  width: 750px;
  height: 500px;
  background: linear-gradient(to right, #5EC2B7 50%, #DAF0ED 50%);
  border-radius: 20px;
  display: flex;
  align-items: stretch;
}

/* columns inside two-toned box */

.left-column,
.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
}

.left-column {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.right-column {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* form submission buttons */

.button {
  width: 100%;
  background-color: #5EC2B7;
  color: white;
  padding: 12px;
  margin: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  margin: 8px;
  display: inline-block;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 8px;
  display: inline-block;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #5EC2B7;
  color: white;
  padding: 12px;
  margin: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2CA6A4;
}