body {
    background-color: white;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}
  
.head {
    text-align: center;
}

div:not(:last-child) {
    margin-top: 10px;
}

.submitbttn {
    margin-top: 10px;
}

.product-listing-page {
    display: column;
    align-items: space-around;
    justify-content: center;
    width: 80%;
    height: 100vh;
    column-gap: 20px;
}
