/*
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body { 
    background-color: white; 
}

h1 {
  color: #5EC2B7;
  text-align: center;
  font-family: calibri;
  font-size: 50px;
}

h2 {
  color: black;
  text-align: center;
  font-family: Arial Rounded MT Bold;
  font-size: 35px;
  margin-bottom: 10px;
}

h3 {
  color: white;
  text-align: center;
  font-family: Arial Rounded MT Bold;
  font-size: 20px;
  margin: 8px;
}

p {
  color: black;
  font-family: calibri;
  font-size: 14px;
  text-align: left;
  margin: 0px;
}

a {
  color: #2CA6A4;
  margin: 5px;
  font-family: calibri;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  border: 5px solid #DAF0ED;
  border-radius: 10px;
  margin-bottom: 15px;
}

/************** INPUTS ***************/

/*
input[type=text],
input[type=password],
input[type=email],
button {
  width: 100%;
  padding: 12px;
  margin: 8px;
  border: none;
  border-radius: 10px;
}

input[type=text],
input[type=password],
input[type=email] {
  display: inline-block;
  box-sizing: border-box;
}

button {
  background-color: #5EC2B7;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
  
button:hover {
  background-color: #2CA6A4;
}

/***************************************************************************/

/************** LOGIN / REGISTER ***************/

/*
.two-colored-box {
  margin: auto;
  width: 750px;
  height: 500px;
  background: linear-gradient(to right, #5EC2B7 50%, #DAF0ED 50%);
  border-radius: 20px;
  display: flex;
  align-items: stretch;
}

.two-colored-box .left-column,
.two-colored-box .right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
}

.two-colored-box .left-column {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.two-colored-box .right-column {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/************** NAVBAR ***************/

/*
.navbar {
  border-radius: 15px;
  background-color: #DAF0ED;
  margin: auto;
  margin-bottom: 20px;
  width: 750px;
  height: auto;
  display: flex;
  align-items: stretch;
}

.navbar button {
  float: left;
  width: 80px;
  margin-right: 0px;
}

.search {
  width: 400px;
  margin-left: auto;
  display: flex;
  margin-right: 8px;
  align-self: right;
}

.search input[type=text],
.search button {
  margin-left: 0px;
  margin-right: 0px;
}

.search input[type=text] {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar .search button{
  width: 45px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/************** ITEM (RESULT) ***************/

/*
.market-item {
  position: relative;
  background-color: white;
  border: 5px solid #DAF0ED;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
  width: 740px;
  height: auto;
  display: flex;
  align-items: stretch;
}

.market-item img {
  height: 190px;
  object-fit: cover;
  border: none;
  margin: 0px;
}

.market-item button {
  margin: 0px;
  margin-top: 10px;
  margin-left: auto;
  width: 75px;
  height: 30px;
  padding: 0px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.market-item .left-column,
.market-item .right-column {
  margin: 15px;
}

.market-item .left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 27%;
}

.market-item .right-column {
  width: 73%;
  margin-left: 0px;
}

.market-item .row {
  margin-bottom: 0px;
  width: auto;
  height: auto;
  display: flex;
}
*/